/*
	Cosmetics - Dark Theme
*/

body {
	background-color: #333;
	color: white;
	overflow: hidden;
}

div#cameraView {
	border: 1px solid black;
	background-color: white;
	color: black;
}

button#reloadButton {
	background-color: #888;
}

/*
	Formatting
*/

.clock {
	text-align: center;
}

canvas#voltageCanvas {
	height: 5em;
	width: 100%;
}

div#cameraArea {
	display: flex;
}

div#cameraViewContainer {
	position: relative;
	width: 35vw;
	padding-top: 56.25%;
}

div#fieldDivContainer {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	margin-top: 10%
}

div#fieldDiv {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 1em;
	border: 1px solid black;
	padding: 0.5em;
}

div#cameraView {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 1em;
}

button#reloadButton {
	width: 4em;
	height: 4em;
	border-radius: 0px;
}

div#voltageColorBar {
	background-image: -ms-linear-gradient(right, #0DFF00 0%, #FFFF00 50%, #ff0000 100%);
	background-image: -moz-linear-gradient(right, #0DFF00 0%, #FFFF00 50%, #ff0000 100%);
	background-image: -o-linear-gradient(right, #0DFF00 0%, #FFFF00 50%, #ff0000 100%);
	background-image: -webkit-gradient(linear, right top, left` top, color-stop(0, #0DFF00), color-stop(50, #FFFF00), color-stop(100, #ff0000));
	background-image: -webkit-linear-gradient(right, #0DFF00 0%, #FFFF00 50%, #ff0000 100%);
	background-image: linear-gradient(to left, #0DFF00 0%, #FFFF00 50%, #ff0000 100%);
	width: 100%;
	height: 1em;
}

div#voltageBlackBar {
	width: 100%;
	height: 0.25em;
	background-color: black;
}

div#voltageIndicatorBar {
	margin-left: 100%;
	height: 100%;
	width: 0.25em;
	background-color: black;
}

.btnSwitch {
	color: black
}

div#voltageDiv {
	padding: 0.5em;
	background-color: #888;
	color: white;
}

div#otherNumbersDiv {
	margin-top: 1em;
	padding: .25em;
	background-color: #888;
}

div#tankArcade {
	margin-top: 1em;
	padding: .25em;
	background-color: green;
}

#robotImagesContainer {
	position: relative;
	width: 100%;
	padding-top: 111.145%;
}

#robotImagesContainerTwo {
	position: absolute;
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#robotImages{
	position: relative;
}

.robotImage {
	width: 100%;
	position: absolute;
}

#robotCube{
	display: none;
}